# Download-historical-Stock-data-Free

# Importing Library

In [1]:
from Pyzdata import PyZData, Interval

###         Login Zerodha

In [2]:
zdata = PyZData(userid="USERID": str, password="PASSWORD": str, totp='TOTP': int)

# Instrument token

In [3]:
# Get instrument token for given trading symbol
instrument_token = zdata.get_instrument_token(tradingsymbol="NIFTY 50", exchange="NSE")

# Monthly Data

In [4]:
df = zdata.get_month_data(instrument_token, year=2024, month=2, interval=Interval.MINUTE_1, oi=False, print_logs=True)
display(df)

NIFTY 50 data fetched: 2024-02-01 - 2024-02-29.

,tradingsymbol,datetime,open,high,low,close,volume
0,NIFTY 50,2024-02-01 09:15:00,21780.65,21788.35,21719.05,21736.10,0
1,NIFTY 50,2024-02-01 09:16:00,21734.25,21756.35,21733.70,21746.40,0
2,NIFTY 50,2024-02-01 09:17:00,21744.05,21753.60,21741.15,21741.60,0
3,NIFTY 50,2024-02-01 09:18:00,21742.40,21747.80,21716.90,21725.65,0
4,NIFTY 50,2024-02-01 09:19:00,21724.95,21729.10,21706.55,21718.80,0
...,...,...,...,...,...,...,...
7870,NIFTY 50,2024-02-29 15:25:00,22042.25,22049.60,22041.35,22048.40,0
7871,NIFTY 50,2024-02-29 15:26:00,22048.75,22057.55,22047.65,22056.50,0
7872,NIFTY 50,2024-02-29 15:27:00,22055.65,22060.55,22051.45,22055.75,0
7873,NIFTY 50,2024-02-29 15:28:00,22053.10,22056.20,22043.25,22050.40,0
7874,NIFTY 50,2024-02-29 15:29:00,22050.65,22050.65,22037.00,22042.05,0

# Yearly Data

In [5]:
df = zdata.get_year_data(instrument_token, year=2021, interval=Interval.MINUTE_1)
display(df)

,tradingsymbol,datetime,open,high,low,close,volume
0,NIFTY 50,2021-01-01 09:15:00,13996.10,14019.50,13994.85,14013.15,0
1,NIFTY 50,2021-01-01 09:16:00,14014.85,14018.55,14008.15,14009.05,0
2,NIFTY 50,2021-01-01 09:17:00,14008.05,14013.10,14005.05,14012.70,0
3,NIFTY 50,2021-01-01 09:18:00,14013.65,14019.10,14013.65,14016.20,0
4,NIFTY 50,2021-01-01 09:19:00,14015.45,14017.80,14011.95,14015.45,0
...,...,...,...,...,...,...,...
92433,NIFTY 50,2021-12-31 15:25:00,17357.90,17358.50,17353.75,17356.30,0
92434,NIFTY 50,2021-12-31 15:26:00,17356.10,17359.65,17355.55,17359.25,0
92435,NIFTY 50,2021-12-31 15:27:00,17358.85,17360.50,17356.20,17359.80,0
92436,NIFTY 50,2021-12-31 15:28:00,17359.75,17360.90,17351.10,17353.55,0
92437,NIFTY 50,2021-12-31 15:29:00,17353.45,17365.45,17353.10,17364.25,0

# Download data from given year to present time

In [6]:
# csv file download at working directory
df = zdata.download_data_from_year(instrument_token, from_year=2024, interval=Interval.DAY, print_logs=True)
display(df)

Downloading data...
NIFTY 50 data fetched: 2024-01-01 - 2024-01-31.
NIFTY 50 data fetched: 2024-02-01 - 2024-02-29.
NIFTY 50 data fetched: 2024-03-01 - 2024-03-31.
NIFTY 50 data fetched: 2024-04-01 - 2024-04-30.
NIFTY 50 data fetched: 2024-05-01 - 2024-05-31.
NIFTY 50 data fetched: 2024-06-01 - 2024-06-30.
NIFTY 50 data fetched: 2024-07-01 - 2024-07-31.
NIFTY 50 data fetched: 2024-08-01 - 2024-08-31.
NIFTY 50 data fetched: 2024-09-01 - 2024-09-30.
NIFTY 50 data fetched: 2024-10-01 - 2024-10-31.
NIFTY 50 data fetched: 2024-11-01 - 2024-11-30.
NIFTY 50 data fetched: 2024-12-01 - 2024-12-31.
Data for the year 2024 fetched successfully.
NIFTY 50 data fetched: 2025-01-01 - 2025-01-31.
NIFTY 50 data fetched: 2025-02-01 - 2025-02-28.
NIFTY 50 data fetched: 2025-03-01 - 2025-03-31.
NIFTY 50 data fetched: 2025-04-01 - 2025-04-30.
NIFTY 50 data fetched: 2025-05-01 - 2025-05-31.
NIFTY 50 data fetched: 2025-06-01 - 2025-06-30.
NIFTY 50 data fetched: 2025-07-01 - 2025-07-31.
NIFTY 50 data fetched: 2025-08-01 - 2025-08-31.
NIFTY 50 data fetched: 2025-09-01 - 2025-09-30.
NIFTY 50 data fetched: 2025-10-01 - 2025-10-31.
NIFTY 50 data fetched: 2025-11-01 - 2025-11-30.
NIFTY 50 data fetched: 2025-12-01 - 2025-12-31.
Data for the year 2025 fetched successfully.
Data downloaded and saved to NIFTY 50_2024_to_2025_day.csv

    tradingsymbol   datetime      open      high       low     close  volume
0        NIFTY 50 2024-01-01  21727.75  21834.35  21680.85  21741.90       0
1        NIFTY 50 2024-01-02  21751.35  21755.60  21555.65  21665.80       0
2        NIFTY 50 2024-01-03  21661.10  21677.00  21500.35  21517.35       0
3        NIFTY 50 2024-01-04  21605.80  21685.65  21564.55  21658.60       0
4        NIFTY 50 2024-01-05  21705.75  21749.60  21629.20  21710.80       0
..            ...        ...       ...       ...       ...       ...     ...
261      NIFTY 50 2025-01-17  23277.10  23292.10  23100.35  23203.20       0
262      NIFTY 50 2025-01-20  23290.40  23391.10  23170.65  23344.75       0
263      NIFTY 50 2025-01-21  23421.65  23426.30  22976.85  23024.65       0
264      NIFTY 50 2025-01-22  23099.15  23169.55  22981.30  23155.35       0
265      NIFTY 50 2025-01-23  23128.30  23270.80  23090.65  23245.70       0

[266 rows x 7 columns]