# Download-historical-Stock-data-Free

# Importing Library

In [1]:
from Pyzdata import PyZData, Interval

###         Login Using Zerodha

In [2]:
zdata = PyZData(user_id="ZGA974", password="Delhi@12345", totp=838955)

✅ Logged in successfully

Loading instrument data from https://api.kite.trade/instruments

### Get Data Function

In [3]:
## token for data download
nifty50_token = zdata.get_instrument_token(tradingsymbol="NIFTY 50", exchange="NSE")

df = zdata.get_data(instrument_token=nifty50_token, start_date="2024-01-01", end_date="2024-12-31", interval=Interval.MINUTE_1, oi=False, print_logs=True)
display(df)

NIFTY 50 data fetched: 2024-01-01 - 2024-01-31
NIFTY 50 data fetched: 2024-02-01 - 2024-02-29
NIFTY 50 data fetched: 2024-03-01 - 2024-03-31
NIFTY 50 data fetched: 2024-04-01 - 2024-04-30
NIFTY 50 data fetched: 2024-05-01 - 2024-05-31
NIFTY 50 data fetched: 2024-06-01 - 2024-06-30
NIFTY 50 data fetched: 2024-07-01 - 2024-07-31
NIFTY 50 data fetched: 2024-08-01 - 2024-08-31
NIFTY 50 data fetched: 2024-09-01 - 2024-09-30
NIFTY 50 data fetched: 2024-10-01 - 2024-10-31
NIFTY 50 data fetched: 2024-11-01 - 2024-11-30
NIFTY 50 data fetched: 2024-12-01 - 2024-12-31

,tradingsymbol,datetime,open,high,low,close,volume
0,NIFTY 50,2024-01-01 09:15:00,21727.75,21737.35,21701.80,21712.00,0
1,NIFTY 50,2024-01-01 09:16:00,21711.50,21720.00,21695.35,21695.65,0
2,NIFTY 50,2024-01-01 09:17:00,21697.70,21711.75,21694.75,21709.55,0
3,NIFTY 50,2024-01-01 09:18:00,21709.55,21712.50,21698.40,21699.55,0
4,NIFTY 50,2024-01-01 09:19:00,21704.35,21708.00,21693.55,21693.75,0
...,...,...,...,...,...,...,...
92509,NIFTY 50,2024-12-31 15:25:00,23648.70,23656.40,23646.50,23656.40,0
92510,NIFTY 50,2024-12-31 15:26:00,23655.75,23663.30,23655.75,23657.65,0
92511,NIFTY 50,2024-12-31 15:27:00,23657.45,23659.80,23651.95,23658.75,0
92512,NIFTY 50,2024-12-31 15:28:00,23658.90,23664.05,23655.05,23658.80,0
92513,NIFTY 50,2024-12-31 15:29:00,23662.75,23669.40,23651.85,23668.80,0